.our-story {
    padding:0 2.5rem;
    background-color: #1e293b;
    text-align: center;
    display: flex;
  }

  .story , .mission {
    width: 45vw;
    margin: 2vw;
    padding: 2vw;
  }
  
  .our-story h2 {
    margin-bottom: 1rem;
    color: white;
    font-size: 2.5rem;
  }
  
  .our-story p {
    margin: 0 auto 1.5rem;
    color: #f59e0b;
    line-height: 1.6;
    font-size: 1.25rem;
  }
  
  .specialities-section {
    display: flex;
    padding:0 2.5rem;
    background-color: #1e293b;
  }

  .image-container,.specialities {
    width: 45vw;
    margin: 2vw;
    padding: 2vw;
  }
  
  img {
    max-width: 40vw;
    width: 100%;
    border-radius: 10px;
  }
  
  
  .specialities h2 {
    margin-bottom: 1rem;
    color: white;
    font-size: 3rem;
    text-align: center;
  }
  
  .specialities ul {
    list-style-type: none;
    color: white;
    font-size: 1.5rem;
    text-align: center;

  }

  .specialities ul li {
    margin-bottom: 1rem;
    color: #f59e0b;
  }
  