.our-story {
  padding: 2.5rem;
  background-color: #1e293b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  flex-wrap: wrap;
  text-align: center;
}

.story,
.mission {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  padding: 2rem;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.our-story h2 {
  margin-bottom: 1rem;
  color: white;
  font-size: 2.5rem;
}

.our-story p {
  margin: 0 auto 1.5rem;
  color: #f59e0b;
  line-height: 1.6;
  font-size: 1.25rem;
}

.image img,
.image-container img {
  aspect-ratio: 4/3;
  width: 100%;
  border-radius: 10px;
}
  

.specialities-section {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  padding: 2.5rem;
  background-color: #1e293b;
  flex-wrap: wrap;
  gap: 2rem;
}

.image-container,
.specialities {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  padding: 2rem;
}

.specialities h2 {
  margin-bottom: 1rem;
  color: white;
  font-size: 2.5rem;
  text-align: center;
}

.specialities ul {
  list-style-type: none;
  padding: 0;
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.specialities ul li {
  margin-bottom: 1rem;
  color: #f59e0b;
}

@media (max-width: 1050px) {
  .specialities ul {
    font-size: 1.25rem;
  }

  .image-container img {
    height: 100%;
  }

}

@media (max-width: 875px) {
  .our-story {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
  }

.story,
.mission {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem 0;
}

.our-story h2 {
  font-size: 2.5rem;
}

.our-story p {
  font-size: 1.25rem;
}

.specialities-section {
  padding: 2rem 1.5rem;
  text-align: center;
  justify-content: center;
  align-items: stretch;
}

.image-container,
.specialities {
  max-width: 100%;
  padding: 1rem 0;
}

}

@media (max-width: 715px) {
  .specialities-section {
    flex-direction: column-reverse;
    justify-content: flex-start; 
    padding: 1.5rem;
  }

.image-container {
  padding: 0 1rem;
  width: 100%;
}

.image-container img {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 10px;
  display: block;
  }
}