.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.profile-card {
    padding: 2rem;
    width: 90%;
}
  
.profile-card h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #f59e0b;
}
  
.profile-info strong {
    color: #f59e0b;
}

.profile-info p {
    font-size: 1rem;
    margin: 1rem 0;
    color: white;
}
  
.logout-btn {
    margin-top: 1rem;
    width: 100%;
    padding: 0.75rem;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}
  
.logout-btn:hover {
    background-color: #c0392b;
}



.profile-page {
    background-color: #1e293b;
    display: flex;
    min-height: 100vh;
}

.profile-navbar {
    width: 25vw;
    background-color: #121926;
    margin: 2vw;
    margin-right: 1vw;
    color: #f59e0b;
    border: 2px solid #f59e0b;

}

.wishlist-property-container {
    width: 70vw;
    background-color: #1e293b;
    margin: 2vw;
    margin-left: 1vw;
    border: 2px solid #f59e0b;
    padding: 2vw;
}

.wishlist-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.wish-text , .wishlist-empty {
    text-align: center;
    margin: 1vh;
    color: #f59e0b;
}

.wish-text h2 {
    font-size: 2.5rem;
}

.wishlist-empty p {
    color: white;
    font-size: 1.5rem;
}
.wishlist-empty h2 {
    font-size: 2.5rem;
}