.prop-page {
    background-color: #1e293b;
    display: flex;
    min-height: 100vh;
}

.left-navbar {
    width: 25vw;
    background-color: #121926;
    margin: 2vw;
    margin-right: 1vw;
    color: #f59e0b;
    border: 2px solid #f59e0b;
    

}

.property-container {
    width: 70vw;
    background-color: #1e293b;
    margin: 2vw;
    margin-left: 1vw;
    border: 2px solid #f59e0b;
    padding: 2vw;
    
}
.found {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}
.not-found {
    color: #f59e0b;
    text-align: center;
    font-size: 2rem;
}